{% extends "layout.html" %}
{% block title %}
About us
{% endblock %}
{% block content %}
<div class="about_block">
    <h1>About Us</h1>
    <p>Our mandate is to deliver High Performance Computing and science support (HPCSS) services to STB, including the support and delivery of national scientific software. The team also provides operational support for BICoE applications, project management for STB IT projects related to HPC and science servers, and advises and represents science at various ISB committees such as the Software Review Committee (SRC) and at various ISB initiatives such as system migrations (Windows 10, Edge Chromium).
    </p>


</div>
{% endblock %}